.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
/* .Breadcrumb{
    color: #666;
} */
/* .left {
    color: #666;
} */
.right1{
    /* color: red; */
}