header{
    position: absolute;
    top:0;
    width: 100%;
    height:55px;
    border-bottom: 5px solid #2fb9d4;
    background-color: #001529;
    z-index: 1;
}
.header{
    position: relative;
    width: auto;
    margin: 0 15px;
}
.logoBox{
    width: 185px;
    height: 57px;
}
.logo{
    display: inline-block;
    width: 185px;
    height: 55px;
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    text-align: center; 
}
.larrySideMenu{
    position: absolute;
    cursor: pointer;
    left: 200px;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 26%;
}
.larry-side-menu .icon-menu{
   font-size:30px;
}

.div1{
    position: absolute;
    left:300px;
    width:100px;
    height:100px;
    background-color: rosybrown;
}

.content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
}
.right{
    position: relative;
    padding-top: 60px;
    float: right;
    box-sizing: border-box;
    height:100%;
    flex: 1;
    background-color:red;
}
.headUl{
    position: absolute;
    display: flex;
    align-items: center;
    top:0;
    height:55px;
    left: 250px;
}
.li{
    text-align: center;
    line-height: 55px;
    height:100%;
    width:96px;
}
a{
    cursor: pointer;
    font-size: 14px;
    color:rgb(196, 196, 196) !important;
}
a:hover{
    color: #fff;
}
.time{
    /* position: absolute; */
    line-height: 50px;
}
.headerRight{
    position: absolute;
    display: flex;
    align-items: center;
    top:0;
    right:0;
}
.headerRight>li>i{
    color:#c2c2c2;
}
.xx>i{
    margin-left:66px;
}
.xx >i:hover{
    color:#fff;
    cursor: pointer;
    transition: 0.3s;
}
.userItem{
    position: relative;
    top:5px;
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:0 20px;
    overflow: hidden;
}
.userItem >img{
    width:100%;
    height:100%;
}
.admin>i{
    font-size:10px;
}
.padding{
    padding:0 20px;
}

.navTitle{
    position: absolute;
    display: flex;
    top:0;
    margin-top:55px;
    height: 40px;
    width:100%;
    background-color: rgb(242, 242, 242);
}
