<<<<<<< HEAD
<<<<<<< HEAD
.box{

}
=======

>>>>>>> e23ccdd72c04a546fc1c73167a0a5bf0130cb748
=======

>>>>>>> e23ccdd72c04a546fc1c73167a0a5bf0130cb748
.cnav{
    padding: 0 20px;
    height: 40px;
    /* background-color: skyblue; */
    /* background-color: #2fb9d4; */
    line-height: 40px;
    border-bottom: 1px solid rgb(229, 229, 229);
}
.cbody{
    padding: 20px;
    height: 400px;
    margin-top: 12px;
    /* background-color: pink; */
    /* overflow-y: auto; */
}